<div class="row">
    <div class="col-md-3">
    	<h4><a href="" ng-click="predicate='name'; reverse = !reverse">Headline</a></h4>
    </div>
    <div class="col-md-2 col-md-offset-1">
    	<h4><a href="" ng-click="predicate='count'; reverse = !reverse">Article Count</a></h4>
    </div>
    <div class="col-md-4 col-md-offset-1">
    	<h4><a href="" ng-click="predicate='last_modified_utc'; reverse = !reverse">Last Updated</a></h4>
    </div>
</div>
<div class="row" ng-repeat="item in list_data | orderBy:predicate:reverse">
    <div class="col-md-3">
    	<a href="#/stories/{{taxonomy}}/{{item.slug}}"><b>{{item.name}}</b></a>
    </div>
    <div class="col-md-2 col-md-offset-1">
    	<b>{{item.count}}</b>
    </div>
    <div class="col-md-4 col-md-offset-1">
    	<b>{{item.last_modified_utc | date: 'medium'}}</b>
    </div>
</div>
<div class="row col-md-12" ng-show="loading">
    <h1>Loading...</h1>
</div>
