<div class="row" ng-repeat="story in stories | orderBy:predicate:reverse">
    <div class="row">
        <div class="col-md-7">
        	<a ng-repeat="tag in story.tags | filter: urlFilter" href="{{tag.label}}" target="_new"><b>{{story.title}}</b></a> (<a ng-repeat="tag in story.tags | filter: urlFilter" href="#/story/{{tag.label | encodeURIComponent}}">raw</a>)
            <p>{{story.summary}}</p>
        </div>
        <div class="col-md-4 col-md-offset-1">
        	<b>{{story.modified_at_utc}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <b>Tags</b>:
                <li ng-repeat="tag in story.tags">
                    <ul>{{tag.schema}}: {{tag.label}}</ul>
                </li>
        </div>
    </div>
</div>
<div class="row col-md-12" ng-show="loading">
    <h1>Loading...</h1>
</div>
